@import "tailwindcss";

@layer utilities {
  .swiper-slide {
    @apply transition-transform duration-300;
  }
  .swiper-slide-active {
    @apply scale-110 z-20;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.testimonial-slider .swiper-wrapper {
  padding-bottom: 70px;
}

.testimonial-slider .swiper-horizontal>.swiper-pagination-bullets,
.testimonial-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.testimonial-slider .swiper-pagination-bullet {
  width: 47px !important;
  height: 12px !important;
  border-radius: 12px !important;
  background-color: #ffffff7a;
}

.testimonial-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 68px !important;
  background-color: #A200F5;
}

.primaryBtn {
  background: linear-gradient(90deg, rgba(171, 0, 212, 1) 0%, rgba(129, 27, 192, 1) 23%, rgba(93, 61, 187, 1) 58%, rgba(4, 154, 203, 1) 100%);
  padding: 12px 24px;
  border-radius: 14px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.testimonial-slider .swiper-slide {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.testimonial-slider .swiper-slide-active {
  opacity: 1 !important;
}

.tab-button {
  padding: 10px 24px;
  width: 100%;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

.tab-button-active {
  background: linear-gradient(to right, #A200F5, #04A7E0);
  color: white;
  box-shadow: 0 0 8px rgba(162, 0, 245, 0.6);
}

.tab-button-inactive-wrapper {
  background: linear-gradient(to right, #A200F5, #04A7E0);
  padding: 2px;
  border-radius: 14px;
  display: block;
}

.tab-button-inactive {
  background-color: #000;
  color: white;
  border-radius: 14px;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}


.first-section {
  background-image: url('../../public/images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}


.swiper-pagination-bullet {
  background: rgba(255 255 255 / 40%) !important;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(90deg,
      rgba(171, 0, 212, 1) 0%,
      rgba(129, 27, 192, 1) 23%,
      rgba(93, 61, 187, 1) 58%,
      rgba(4, 154, 203, 1) 100%) !important;
}

.glowBgImg {
  top: -60px;
}

/* @media screen and (max-width: 1199px) {
  .plansOneWrapper{
    padding: 20px !important;
  }
  .plansOneWrapper h3, .plansOneWrapper h4{
    font-size: 14px;
  }
} */
@media screen and (max-width: 767px) {
  .glowBgImg {
    top: -20px;
  }

  .planFree li {
    font-size: 10px;
  }

  .planFree button {
    font-size: 9px;
  }

  .plansOneSlider .swiper-slide {
    margin-right: 7px !important;
    padding-bottom: 0px !important;
  }

  .plansOneWrapper {
    padding: 10px !important;
    border-radius: 8px !important;
  }

  .plansOneSlider ul {
    margin-bottom: 5px;
  }

  .plansOneSlider ul li {
    font-size: 9px !important;
    margin-bottom: 4px;
  }

  .plansOneSlider ul li span svg {
    width: 10px;
    height: 10px;
  }

  .plansOneWrapper h3,
  .plansOneWrapper h4 {
    font-size: 8px;
  }

  .plansOneWrapper p {
    font-size: 9px !important;
    margin-bottom: 3px !important;
  }

  .plansOneSlider button {
    padding: 0px;
    font-size: 9px;
  }
}

@media screen and (max-width: 575) {
  .glowBgImg {
    top: 0px;
  }

  .tab-button-active,
  .tab-button-inactive {
    font-size: 12px;
  }

  .customMarginLeft {
    margin-left: 15px;
  }

  .customMarginBottom {
    margin-bottom: 10px;
  }

  .RCloseImg {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .primaryBtn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .testimonial-slider .swiper-slide {
    margin-right: 10px !important;
    /* 👈 spacing kam karne ke liye */
  }

  /* .plansOneSlider .swiper-slide:first-child {
    margin-right: 0px !important;
  } */

}

@media screen and (max-width: 480px) {

  .tab-button-active,
  .tab-button-inactive {
    font-size: 10px;
    /* padding-block: 5px;
    padding-inline: 5px; */
  }

  .plansOneSlider .swiper-slide {
    margin-right: 3px !important;
  }

  /* .plansOneSlider .swiper-slide:first-child {
    margin-right: 0px !important;
  } */

  .plansOneWrapper {
    padding: 7px !important;
    border-radius: 8px !important;
  }

  .plansOneSlider ul {
    margin-bottom: 5px;
  }

  .plansOneSlider small {
    font-size: 5px !important;
  }

  .plansOneSlider ul li {
    font-size: 6px !important;
    margin-bottom: 4px;
  }

  .plansOneSlider ul li span svg {
    width: 6px;
    height: 6px;
  }

  .plansOneWrapper h3 {
    font-size: 8px;
  }

  .plansOneWrapper p {
    font-size: 6px !important;
    margin-bottom: 3px !important;
  }

  .plansOneSlider button {
    padding: 0px;
    font-size: 6px;
  }

  .plansOneSlider li {
    gap: 0px !important;
    font-size: 6px !important;
  }
}

@media screen and (max-width: 380px) {

  .tab-button-active,
  .tab-button-inactive {
    font-size: 8px;
  }


  .customSizeH3,
  .customSizeP {
    font-size: 10px !important;
  }

  .primaryBtn {
    font-size: 10px;
    padding: 10px 12px;
    font-weight: 500;
  }

  .plansOneWrapper h4 {
    font-size: 8px !important;
  }
}